{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 headers-wrapper"><span class="section-subHeader">Адрес клиники </span><span
                    class="section-header">контакты</span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5 contacts-wrapper">
                <span>Наши контактные данные </span>
                <span><img src="{% static 'img/marker.png' %}" alt="Map marker"> м. Парк Победы, улица Генерала Ермолова, 2</span>
                <span><img src="{% static 'img/clock.png' %}" alt="Clock"> ежедневно 10:00 - 22:00</span>
                <span><img src="{% static 'img/phone.png' %}" alt="Phone"> +7 (495) 162-51-93</span>
                <div class="social-icons">
                    <img src="{% static 'img/instagram.png' %}" alt="Instagram">
                    <img src="{% static 'img/facebook.png' %}" alt="Facebook">
                </div>
                <div class="btn-wrapper">
                    <button class="cta-button">Запись</button>
                    <button class="cta-button">
                        <img src="{% static 'img/whatsapp-white.png' %}" alt="">
                    </button>
                </div>
            </div>
            <div class="col-xs-12 col-md-7 map-wrapper">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.3837414031973!2d37.51610251608806!3d55.73446120087366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bfa41abad99%3A0xb4ede820dd7c8197!2sGenerala%20Yermolova%20Ulitsa%2C%202%2C%20Moskva%2C%20121170!5e0!3m2!1sen!2sru!4v1605019086885!5m2!1sen!2sru"
                        width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-xl navbar-light bg-white justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.png' %}" alt="Company logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02">
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/about">О клинике<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/prices">Прайс-лист</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">До и после</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/promo">Акции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Онлайн</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stuff">Команда</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/qa-page">Вопросы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Контакты</a>
                </li>
                <li class="call-us-block">
                    <img src="{% static 'img/whatsapp-green.png' %}" alt="Whatsapp">
                    <img src="{% static 'img/phone-blue.png' %}" alt="Phone">
                    <a class="nav-link" href="#">8 (495) 342-56-05</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="divier-wrapper" style="background-color: white">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p style="text-align: right; font-size: 10px;"><a href="https://www.divier.ru/" style="color: #4f9c50; text-decoration: underline">Создание сайта </a>ДиВиЕр</p>
                </div>
            </div>
        </div>
    </div>
</footer>
