{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="about-page">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Услуги</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="about-page__content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 headers-wrapper"><span class="section-subHeader">О клинике </span><span
                        class="section-header">о нас</span></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-section">
                        <div class="top-banner"><img src="{% static 'img/reception.png' %}" alt="Reception"></div>
                        <div class="info-wrapper">
                            <div class="text-wrapper"><h3>О нашей клинике</h3>
                                <p>Сеть клиник инновационной косметологии GEN87 – настоящий кластер передовых технологий
                                    со всего мира. Каждая клиника оснащена целым парком медицинских аппаратов, которые
                                    позволяют работать с любыми эстетическими запросами пациентов – от SMAS-лифтинга до
                                    безоперационной липосакции.</p>
                                <p>Мы работаем в тесном сотрудничестве с научным сообществом, поэтому часто представляем
                                    первыми на российском рынке многие мировые инновации. Наши врачи являются не только
                                    практикующими косметологами, но и тренерами ведущих мировых брендов. Они проводят
                                    обучение и посещают российские и международные конференции в качестве спикеров, а
                                    также сами регулярно проходят переподготовку и повышают уровень квалификации.</p>
                            </div>
                            <div class="text-wrapper"><h3>Принцип работы с пациентами</h3>
                                <p>Оснащенность клиники позволяет исходить из запроса пациента. Уровень компетенции
                                    врачей и первоклассное оборудование позволяют изучить проблему на 360°, при
                                    необходимости провести все необходимые исследования (от 3D-диагностики кожи до
                                    ДНК-анализа). Пациенты получают комплексные рекомендации от косметологов,
                                    диетологов, эндокринологов; в их распоряжении самые передовые авторские
                                    антиэйджинг-методики.</p>
                                <div class="inner-wrapper">
                                    <div class="inner-text-wrapper"><p>Великолепная оснащенность клиники и авторские
                                        методики были оценены по достоинству профессиональным сообществом самого
                                        высокого уровня. В 2017 году клиника получила престижную премию «Лучшая
                                        инновация» в конкурсе «Парад клиник», который проходит при поддержке
                                        Министерства здравоохранения Российской Федерации.</p>
                                        <p>Для наших клиентов красота — это четкие привлекательные контуры лица и тела,
                                            гладкая, сияющая молодостью и свежестью кожа. Для профессионалов нашей
                                            клиники — это еще и высокий уровень ответственности за достижение желаемого
                                            результата. Более 30 000 счастливых клиентов клиники — наша лучшая
                                            рекомендация.</p></div>
                                    <img src="{% static 'img/about2.png' %}" alt="Illustration"></div>
                            </div>
                            <div class="text-wrapper"><h3>Принципы работы с пациентами</h3>
                                <div class="ul-wrapper">
                                    <ul>
                                        <li>обязательное лицензирование на проведение всех видов аппаратных и
                                            инъекционных процедур;
                                        </li>
                                        <li>оригинальные сертифицированные препараты и оборудование (препараты
                                            зарегистрированы на сайте поставщика);
                                        </li>
                                        <li>авторские методики и технологии эстетической косметологии;</li>
                                    </ul>
                                    <ul>
                                        <li>высокий уровень профессионализма, основанный на регулярном повышении
                                            квалификации врачей согласно международным стандартам;
                                        </li>
                                        <li>индивидуальный подход и забота о каждом посетителе центра.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="callback-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 input-headers"><span>ЦЕНЫ НА ПРИЁМ ВРАЧА-ДЕРМАТОЛОГА, КОСМЕТОЛОГА, ЭНДОКРИНОЛОГА, ТРИХОЛОГА</span>
                    <span>Индивидуально расскажем</span> <span>про каждую услугу</span></div>
                <div class="col-lg-12 inputs-wrapper">
                    <form action=""><input type="text" placeholder="ФИО*"> <input type="text" placeholder="Телефон*">
                        <input type="text" placeholder="Почта">
                        <button class="cta-button">Записаться</button>
                    </form>
                    <p>Я соглашаюсь на обработку персональных данных и с <a href="" style="color: #4f9c50;">политикой
                        конфиденциальности</a></p></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}