{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="detail-stuff-page">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Услуги</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 headers-wrapper"><span class="section-subHeader">Наши специалисты </span><span
                    class="section-header">команда</span></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="stuff-bio">
                    <div class="avatar-wrapper"><img src="{% static 'img/team/big-photo1.png' %}" alt="Person"></div>
                    <div class="bio-text"><h2>Гуськова Екатерина Геннадьевна</h2><span class="profession">Врач-косметолог, к.м.н.</span>
                        <span class="years-of-service"><strong>Стаж работы:</strong> 10 лет</span>
                        <button class="cta-button">Записаться на прием</button>
                        <p>Ведущий специалист и тренер по лазерным технологиям и инъекционным методикам, мезотерапевт,
                            специалист по плазмолифтингу и ботулинотерапии. Работает по продвинутым протоколам.</p>
                        <p>Применяет комплексный подход к антиэйджингу и лечению кожи, сочетая знания в области
                            косметологии, эндокринологии и трихологии. Сертифицированный специалист в области
                            нехирургической подтяжки мягких тканей лица и тела с помощью нитевого лифтинга. Активный
                            участник ведущих Всероссийских и Международных конференций по Anti-age технологиям.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 more-info">
                <div class="stuff-info"><h2>Информация</h2><span>Дерматовенеролог, косметолог. Врачебной косметологией занимается с 2008 г.</span>
                    <p>Работает по направлениям:</p>
                    <ul>
                        <li>Контурная пластика (препараты Belotero, Yvoire, Juvederm, Teosyal, Restylane)</li>
                        <li>Ботулинотерапия (Ксеамин, Диспорт, Ботокс)</li>
                        <li>Мезотерапия и биоревитализация (Meso-Wharton, Meso-Xanthin, Meso-Sculpt, MesoEye, Aguashine,
                            Hylual, Jalupro)
                        </li>
                        <li>Лазерное удаление сосудов</li>
                        <li>Эпиляция</li>
                        <li>Пилинги</li>
                        <li>Коррекция формы и восполнение потери объема губ и периоральной области</li>
                    </ul>
                </div>
                <div class="stuff-education"><h2>Образование</h2>
                    <p>2001 — Казанский медицинский университет имени С. В. Курашова</p>
                    <p>2006 — Казанская государственная медицинская академия, врач дерматовенеролог</p>
                    <p>2014 — Казанская государственная медицинская академия, врач косметолог</p>
                    <h3>Курсы повышения квалификации:</h3>
                    <p>Курсы повышения квалификации в области косметологии, анатомии, эндокринологии.</p>
                    <h3>Участие в мероприятиях:</h3>
                    <p>Участница российских и зарубежных научно-практических конференций, симпозиумов и мастер-классов
                        по актуальным вопросам дерматовенерологии и косметологии.</p></div>
            </div>
        </div>
    </div>
    <div class="stuff-directions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 headers-wrapper"><span
                        class="section-subHeader">Ведёт приём по направлениям </span><span class="section-header">Направления</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="direction-wrapper"><h5>Инъекционная косметология</h5>
                        <p>Контурная пластика</p><span>Контурная пластика губ</span> <span>Увеличение губ гиалуроновой кислотой</span>
                        <span>Филлеры для губ</span> <span>Векторный лифтинг препаратом Radiesse</span>
                        <p>Ботулинотерапия</p><span>Инъекции ботокса для бровей</span>
                        <span>Инъекции ботокса для губ</span> <span>Инъекции ботокса для лица</span> <span>Инъекции ботокса под глаза</span>
                        <span>Ботулинотерапия носа</span> <span>Инъекции ботокса в лоб</span>
                        <span>Ботулинотерапия шеи</span> <span>Ботулинотерапия кисетных морщин вокруг рта</span> <span>Ботулинотерапия мимических морщин улыбки</span>
                        <span>Ботулинотерапия мимических морщин в области лба и межбровья</span> <span>Коррекция морщин вокруг глаз</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="direction-wrapper"><h5>Аппаратная косметология</h5>
                        <p>Удаление сосудов на аппарате Sharplight Omnimax</p><span>Лечение купероза (розацеа)</span>
                        <span>Удаление купероза на лице лазером</span> <span>Удаление купероза фотовспышками</span>
                        <span>Эпиляция</span>
                        <p>SMAS-лифтинг лица на аппарате Ultraformer</p><span>Аппаратная коррекция «гусиных лапок» с применением Ultraformer</span>
                        <span>Аппаратная коррекция нижней трети лица с применением Ultraformer</span> <span>Безоперационная подтяжка лица на аппарате Ультраформер</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="direction-wrapper"><h5>Уходовые процедуры</h5>
                        <p>Пилинги</p><span>Миндальный пилинг</span> <span>Молочный пилинг для лица</span> <span>Ретиноевый пилинг — глубинное обновление кожи</span>
                        <span>Салициловый пилинг</span> <span>Пилинг Biorepeelcl3</span> <span>Пилинг PRX-T33</span>
                        <span>Пилинг Джесснера — голливудский стандарт обновления кожи</span>
                        <span>Пилинг тела в салоне</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}