{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="detail-stuff-page">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Услуги</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 headers-wrapper"><span class="section-subHeader">Наши специалисты </span><span
                    class="section-header">команда</span></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="stuff-bio">
                    <div class="avatar-wrapper"><img src="{{ staff.photo.url }}" alt="Person"></div>
                    <div class="bio-text"><h2>{{ staff.full_name }}</h2><span
                            class="profession">{{ staff.state }}</span>
                        <span class="years-of-service"><strong>Стаж работы:</strong> {{ staff.experience }}</span>
                        <button class="cta-button">Записаться на прием</button>
                        <p>
                            {{ staff.about_text|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 more-info">
                <div class="stuff-info">
                    <h2>Информация</h2>
                    <span>{{ information_text.text }}</span>
                    <p>Работает по направлениям:</p>
                    <ul>
                        {% for info_li in information_li %}
                        <li>{{ info_li.direction_row}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="stuff-education">
                    <h2>Образование</h2>
                    {% for ed_li in education_li %}
                    <p>{{ ed_li.item}}</p>
                    {% endfor %}
                </div>
                {{ item }}
            </div>
        </div>
    </div>
    <div class="stuff-directions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 headers-wrapper"><span
                        class="section-subHeader">Ведёт приём по направлениям </span><span class="section-header">Направления</span>
                </div>
            </div>
            <div class="row">
                {% for direction in direction_list %}
                <div class="col-lg-6">
                    <div class="direction-wrapper"><h5>{{ direction.direction }}</h5>
                        {% for sub_dir in subdirection_all %}

                            {% if sub_dir.name_direction == direction.direction %}
                                <p>{{ sub_dir.name_subdirection }}</p>

                                {% for item_sub in items_sub %}
                                    {% if item_sub.subdirection_id_id == sub_dir.id %}
                                        <span>{{ item_sub.item }}</span>
                                    {% endif %}
                                {% endfor %}

                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}