{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="first-screen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 first-screen__content"><h1>Клиника <span class="colored-span">Beauty Gene</span> -
                бережное отношение к вашей красоте</h1><span class="small-text">Позвоните нам и наш косметолог вас проконсультирует</span>
                <div class="btn-wrapper">
                    <button class="cta-button">Записаться на консультацию</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="perks-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2 perks-wrapper"><img src="{% static 'img/circle1.png' %}" alt="">
                <span>Комфортный стационар</span></div>
            <div class="col-xs-12 col-md-2 perks-wrapper"><img src="{% static 'img/circle2.png' %}" alt="">
                <span>Эксперты медицины</span></div>
            <div class="col-xs-12 col-md-2 perks-wrapper"><img src="{% static 'img/circle3.png' %}" alt=""> <span>Сертификаты соответствия</span>
            </div>
            <div class="col-xs-12 col-md-2 perks-wrapper"><img src="{% static 'img/circle4.png' %}" alt=""> <span>Инновационные технологии</span>
            </div>
            <div class="col-xs-12 col-md-2 perks-wrapper"><img src="{% static 'img/circle5.png' %}" alt=""> <span>Множество рекомендаций</span>
            </div>
            <div class="col-xs-12 col-md-2 perks-wrapper"><img src="{% static 'img/circle6.png' %}" alt="">
                <span>Довольные клиенты</span></div>
        </div>
    </div>
</div>

<div class="second-screen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 second-screen__content"><h1>Клиника <span class="colored-span">Beauty Gene</span> -
                бережное отношение к вашей красоте</h1>
                <div class="text-block">Услуги клиники в области <span class="colored-span">косметологии</span> - это
                    высокопрофессиональный уход за лицом и телом
                    <div class="inner-block"><img src="{% static 'img/greenThing.png' %}" alt="Illustration"> <span>Он дает возможность надолго отстрочить признаки старения и сохранить притягательную красоту молодости</span>
                    </div>
                </div>
                <div class="text-block">Неизменный принцип работы нашей клиники эстетической медицины:
                    <div class="inner-wrapper">
                        <div class="inner-block"><img src="{% static 'img/exclMark.png' %}" alt="Illustration"> <span>соблюдение баланса между рациональной стоимостью и качеством</span>
                        </div>
                        <div class="inner-block"><img src="{% static 'img/greenThing2.png' %}" alt="Illustration"> <span>процедуры проводятся во врачебных кабинетах</span>
                        </div>
                    </div>
                </div>
                <div class="text-block">Отличные результаты достигаются благодаря нашим специалистам <span
                        class="colored-span">высокой квалификации</span>
                    <div class="inner-block"><span style="padding: 0">Каждый день мы делаем наших пациентов красивее, моложе и счастливее. Мы гордимся этим, а пациенты по достоинству оценивают нашу ориентированность на качественный результат</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="slider-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 headerCol"><span class="header">Beauty Gene</span> <span>Я хочу...</span></div>
        </div>
        <div class="row sliderDiv">
            <div class="single-piece"><img src="{% static 'img/skin.png' %}" alt="Skin"> <span>Кожа</span></div>
            <div class="single-piece"><img src="{% static 'img/face.png' %}" alt="Skin"> <span>Лицо</span></div>
            <div class="single-piece"><img src="{% static 'img/hair.png' %}" alt="Skin"> <span>Волосы</span></div>
            <div class="single-piece"><img src="{% static 'img/legs.png' %}" alt="Skin"> <span>Ноги</span></div>
            <div class="single-piece"><img src="{% static 'img/stomach.png' %}" alt="Skin"> <span>Живот</span></div>
            <div class="single-piece"><img src="{% static 'img/hair.png' %}" alt="Skin"> <span>Волосы</span></div>
        </div>
    </div>
</div>

<div class="prices-section">
    <div class="firstPic">
        <div class="secondPic">
            <div class="thirdPic">
                <div class="container">
                    <div class="row">
                        <div class="col-12 headers-wrapper" style="position: relative; top: -190px;">
                            <span class="section-subHeader">Наши цены </span>
                            <span class="section-header">Прайс-лист</span>
                        </div>
                        <div class="col-12 section-wrapper">
                            <div class="another-wrapper">
                                <div class="price-row">
                                    <div class="price-wrapper">
                                        <div class="text-wrapper"><p class="colored-span">Увеличение губ</p>
                                            <p>Широкий выбор препаратов в инъекционной косметологии, направленных на
                                                решение многих проблем. Мезококтейли, филеры, рассасывающие нити
                                                позволяют специалисту косметологу эффективно решать множество задач от
                                                коррекции возрастных изменений и исправлений недостатков в виде формы
                                                губ, носа, скул до борьбы с пигментными пятнами</p></div>
                                        <span class="price-block-blue">9 000 р.</span>
                                    </div>
                                    <hr>
                                    <div class="price-wrapper">
                                        <div class="text-wrapper"><p class="colored-span">Биоревитализация</p>
                                            <p>Биоревитализация – инъекционная процедура, которая проводится препаратами
                                                на основе гиалуроновой кислоты. Это тот важнейший компонент нашего
                                                организма, который отвечает за тонус кожи, уровень ее увлажненности,
                                                эластичность и упругость. Гиалуроновая кислота синтезируется
                                                фибробластами естественным путем, но со временем ее синтез
                                                снижается.</p></div>
                                        <span class="price-block-green">12 000 р.</span>
                                    </div>
                                    <hr>
                                    <div class="price-wrapper">
                                        <div class="text-wrapper"><p class="colored-span">Плазмолифтинг</p>
                                            <p>Плазмолифтинг — это инъекционная процедура, при проведении которой
                                                врач-дерматокосметолог вводит в кожу микродозы собственной плазмы
                                                пациента. Многие наверняка увидели здесь связь с мезотерапией. И правда:
                                                в обоих случаях в кожу вводятся микроинъекции. Однако для мезотерапии
                                                используются специально подобранные врачом</p></div>
                                        <span class="price-block-blue">9 000 р.</span>
                                    </div>
                                    <hr>
                                    <div class="price-wrapper">
                                        <div class="text-wrapper"><p class="colored-span">Плазмолифтинг</p>
                                            <p>Плазмолифтинг — это инъекционная процедура, при проведении которой
                                                врач-дерматокосметолог вводит в кожу микродозы собственной плазмы
                                                пациента. Многие наверняка увидели здесь связь с мезотерапией. И правда:
                                                в обоих случаях в кожу вводятся микроинъекции. Однако для мезотерапии
                                                используются специально подобранные врачом</p></div>
                                        <span class="price-block-blue">9 000 р.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 input-headers"><span>ЦЕНЫ НА ПРИЁМ ВРАЧА-ДЕРМАТОЛОГА, КОСМЕТОЛОГА, ЭНДОКРИНОЛОГА, ТРИХОЛОГА</span>
                <span>Индивидуально расскажем</span> <span>про каждую услугу</span></div>
            <div class="col-12 inputs-wrapper">
                <form action="">
                    <input type="text" placeholder="ФИО*">
                    <input type="text" placeholder="Телефон*">
                    <input type="text" placeholder="Почта">
                    <button class="cta-button">Записаться</button>
                </form>
                <p>Я соглашаюсь на обработку персональных данных и с <a href="" style="color: #4f9c50;">политикой
                    конфиденциальности</a></p></div>
        </div>
    </div>
</div>

<div class="promo-section">
    <div class="container">
        <div class="row">
            <div class="col-12 headers-wrapper"><span class="section-subHeader">Наши акции </span><span
                    class="section-header">Выгодно</span></div>
            <div class="col-12 promo-slider">
                <div class="inner-wrapper">
                    <div class="text-wrapper">
                        <div>Акция</div>
                        <div class="inner-text-wrapper"><span class="first-span">Скидка <span
                                class="colored-span">10%</span> на процедуры</span> <span class="second-span"><span
                                class="colored-span">инновационной</span> лазерной системы</span></div>
                    </div>
                    <button class="cta-button">Подробнее об акции</button>
                </div>
                <div class="inner-wrapper">
                    <div class="text-wrapper">
                        <div>Акция</div>
                        <span class="first-span">Скидка <span class="colored-span">10%</span> на процедуры</span> <span
                            class="second-span"><span class="colored-span">инновационной</span> лазерной системы</span>
                    </div>
                    <button class="cta-button">Подробнее об акции</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 headers-wrapper"><span class="section-subHeader">На приеме у специалиста </span><span
                class="section-header">шаг за шагом</span></div>
    </div>
</div>

<div class="appointment-section">
    <div class="container">
        <div class="row">
            <div class="col-12 steps-slider">
                <div class="inner-wrapper">
                    <div class="content-block"><h2>Шаг 1</h2><span>Консультация специалиста</span>
                        <p>Вы хотите стройное тело, блестящие глаза, девичью шею, молодое лицо, ухоженные руки, массаж
                            или навсегда избавиться от нежелательных волос на теле? Доступные цены на все услуги клиники
                            для каждого. Представленные в клинике обурудование аппаратной косметологии и препараты
                            инъекционной косметологии позволяют использовать технологии.</p>
                        <button class="custom-outline">Перейти к шагу 2 ></button>
                    </div>
                </div>
                <div class="inner-wrapper">
                    <div class="content-block"><h2>Шаг 1</h2><span>Консультация специалиста</span>
                        <p>Вы хотите стройное тело, блестящие глаза, девичью шею, молодое лицо, ухоженные руки, массаж
                            или навсегда избавиться от нежелательных волос на теле? Доступные цены на все услуги клиники
                            для каждого. Представленные в клинике обурудование аппаратной косметологии и препараты
                            инъекционной косметологии позволяют использовать технологии.</p>
                        <button class="custom-outline">Перейти к шагу 2 ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="media-section">
    <div class="container">
        <div class="row">
            <div class="col-12 headers-wrapper"><span class="section-subHeader">Следите за нами в соцсетях </span><span
                    class="section-header">мы онлайн</span></div>
            <div class="col-12">
                <div class="media-wrapper">
                    <div class="col-lg-3"><img src="{% static 'img/media-example.png' %}" alt="Media"></div>
                    <div class="col-lg-3"><img src="{% static 'img/media-example.png' %}" alt="Media"></div>
                    <div class="col-lg-3"><img src="{% static 'img/media-example.png' %}" alt="Media"></div>
                    <div class="col-lg-3"><img src="{% static 'img/media-example.png' %}" alt="Media"></div>
                    <div class="col-lg-3"><img src="{% static 'img/media-example.png' %}" alt="Media"></div>
                    <div class="col-lg-3"><img src="{% static 'img/media-example.png' %}" alt="Media"></div>
                    <div class="col-lg-3"><img src="{% static 'img/media-example.png' %}" alt="Media"></div>
                    <div class="col-lg-3"><img src="{% static 'img/media-example.png' %}" alt="Media"></div>
                </div>
            </div>
            <div class="col-12">
                <button class="cta-button"><img src="{% static 'img/svg-insta.png' %}" alt="Instagram icon">&nbsp; Подписаться на нас в
                    Instagram
                </button>
            </div>
        </div>
    </div>
</div>

<div class="stuff-section">
    <div class="container">
        <div class="row">
            <div class="col-12 headers-wrapper"><span class="section-subHeader">Наши специалисты </span><span
                    class="section-header">команда</span></div>
            <div class="col-12 stuff-slider">
                <div class="single-employee">
                    <div class="inner-wrapper"><img src="{% static 'img/employee.png' %}" alt="Employee">
                        <div class="text-wrapper"><h5>Лапатина Наталья Геннадьевна</h5>
                            <span>Врач-косметолог, к.м.н.</span></div>
                    </div>
                </div>
                <div class="single-employee">
                    <div class="inner-wrapper"><img src="{% static 'img/employee.png' %}" alt="Employee">
                        <div class="text-wrapper"><h5>Лапатина Наталья Геннадьевна</h5>
                            <span>Врач-косметолог, к.м.н.</span></div>
                    </div>
                </div>
                <div class="single-employee">
                    <div class="inner-wrapper"><img src="{% static 'img/employee.png' %}" alt="Employee">
                        <div class="text-wrapper"><h5>Лапатина Наталья Геннадьевна</h5>
                            <span>Врач-косметолог, к.м.н.</span></div>
                    </div>
                </div>
                <div class="single-employee">
                    <div class="inner-wrapper"><img src="{% static 'img/employee.png' %}" alt="Employee">
                        <div class="text-wrapper"><h5>Лапатина Наталья Геннадьевна</h5>
                            <span>Врач-косметолог, к.м.н.</span></div>
                    </div>
                </div>
                <div class="single-employee">
                    <div class="inner-wrapper"><img src="{% static 'img/employee.png' %}" alt="Employee">
                        <div class="text-wrapper"><h5>Лапатина Наталья Геннадьевна</h5>
                            <span>Врач-косметолог, к.м.н.</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="qa-section">
    <div class="container">
        <div class="row">
            <div class="col-12 headers-wrapper"><span class="section-subHeader">Ответы на вопросы </span><span
                    class="section-header">отвечаем</span></div>
            <div class="col-12 accordions-wrapper">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne"><span
                                        class="colored-span">01</span> С какого возраста можнo идти к косметологу? <i
                                        class="fa fa-plus"></i></button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div class="card-body">В клинику эстетической медицины можно начинать ходить с 18 лет.
                                Эстетическая медицина — это не только инъекции, но и решение дерматологических проблем
                                (акне, угревая сыпь). Поэтому конкретного возраста нет, все зависит от того, что вы
                                хотите изменить. Также поход в клинику – это не всегда борьба со старением, улучшать
                                себя можно в любом возрасте. Перед каждой процедурой вас проконсультирует врач и
                                подберет наиболее подходящие для вас и вашего возраста процедуры.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseOne"><span
                                        class="colored-span">02</span> Больно ли делать инъекции и другие процедуры? <i
                                        class="fa fa-plus"></i></button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">В клинику эстетической медицины можно начинать ходить с 18 лет.
                                Эстетическая медицина — это не только инъекции, но и решение дерматологических проблем
                                (акне, угревая сыпь). Поэтому конкретного возраста нет, все зависит от того, что вы
                                хотите изменить. Также поход в клинику – это не всегда борьба со старением, улучшать
                                себя можно в любом возрасте. Перед каждой процедурой вас проконсультирует врач и
                                подберет наиболее подходящие для вас и вашего возраста процедуры.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseOne"><span
                                        class="colored-span">03</span> Больно ли делать инъекции и другие процедуры? <i
                                        class="fa fa-plus"></i></button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">В клинику эстетической медицины можно начинать ходить с 18 лет.
                                Эстетическая медицина — это не только инъекции, но и решение дерматологических проблем
                                (акне, угревая сыпь). Поэтому конкретного возраста нет, все зависит от того, что вы
                                хотите изменить. Также поход в клинику – это не всегда борьба со старением, улучшать
                                себя можно в любом возрасте. Перед каждой процедурой вас проконсультирует врач и
                                подберет наиболее подходящие для вас и вашего возраста процедуры.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour"
                                        aria-expanded="true" aria-controls="collapseOne"><span
                                        class="colored-span">04</span> Больно ли делать инъекции и другие процедуры? <i
                                        class="fa fa-plus"></i></button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">В клинику эстетической медицины можно начинать ходить с 18 лет.
                                Эстетическая медицина — это не только инъекции, но и решение дерматологических проблем
                                (акне, угревая сыпь). Поэтому конкретного возраста нет, все зависит от того, что вы
                                хотите изменить. Также поход в клинику – это не всегда борьба со старением, улучшать
                                себя можно в любом возрасте. Перед каждой процедурой вас проконсультирует врач и
                                подберет наиболее подходящие для вас и вашего возраста процедуры.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive"
                                        aria-expanded="true" aria-controls="collapseOne"><span
                                        class="colored-span">05</span> Больно ли делать инъекции и другие процедуры? <i
                                        class="fa fa-plus"></i></button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">В клинику эстетической медицины можно начинать ходить с 18 лет.
                                Эстетическая медицина — это не только инъекции, но и решение дерматологических проблем
                                (акне, угревая сыпь). Поэтому конкретного возраста нет, все зависит от того, что вы
                                хотите изменить. Также поход в клинику – это не всегда борьба со старением, улучшать
                                себя можно в любом возрасте. Перед каждой процедурой вас проконсультирует врач и
                                подберет наиболее подходящие для вас и вашего возраста процедуры.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix"
                                        aria-expanded="true" aria-controls="collapseOne"><span
                                        class="colored-span">06</span> Больно ли делать инъекции и другие процедуры? <i
                                        class="fa fa-plus"></i></button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">В клинику эстетической медицины можно начинать ходить с 18 лет.
                                Эстетическая медицина — это не только инъекции, но и решение дерматологических проблем
                                (акне, угревая сыпь). Поэтому конкретного возраста нет, все зависит от того, что вы
                                хотите изменить. Также поход в клинику – это не всегда борьба со старением, улучшать
                                себя можно в любом возрасте. Перед каждой процедурой вас проконсультирует врач и
                                подберет наиболее подходящие для вас и вашего возраста процедуры.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}