{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="first-screen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 first-screen__content"><h1>Клиника <span class="colored-span">Beauty Gene</span> -
                бережное отношение к вашей красоте</h1><span class="small-text">Позвоните нам и наш косметолог вас проконсультирует</span>
                <div class="btn-wrapper">
                    <button class="cta-button" data-toggle="modal" data-target="#exampleModalCenter">Записаться на
                        консультацию
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="perks-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2 perks-wrapper"><img src="{% static 'img/circle1.png' %}" alt="">
                <span>Комфортный стационар</span></div>
            <div class="col-xs-12 col-md-2 perks-wrapper"><img src="{% static 'img/circle2.png' %}" alt="">
                <span>Эксперты медицины</span></div>
            <div class="col-xs-12 col-md-2 perks-wrapper"><img src="{% static 'img/circle3.png' %}" alt="">
                <span>Сертификаты соответствия</span>
            </div>
            <div class="col-xs-12 col-md-2 perks-wrapper"><img src="{% static 'img/circle4.png' %}" alt="">
                <span>Инновационные технологии</span>
            </div>
            <div class="col-xs-12 col-md-2 perks-wrapper"><img src="{% static 'img/circle5.png' %}" alt="">
                <span>Множество рекомендаций</span>
            </div>
            <div class="col-xs-12 col-md-2 perks-wrapper"><img src="{% static 'img/circle6.png' %}" alt="">
                <span>Довольные клиенты</span></div>
        </div>
    </div>
</div>

<div class="second-screen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 second-screen__content"><h1>Клиника <span class="colored-span">Beauty Gene</span> -
                бережное отношение к вашей красоте</h1>
                <div class="text-block">Услуги клиники в области <span class="colored-span">косметологии</span> - это
                    высокопрофессиональный уход за лицом и телом
                    <div class="inner-block"><img src="{% static 'img/greenThing.png' %}" alt="Illustration"> <span>Он дает возможность надолго отстрочить признаки старения и сохранить притягательную красоту молодости</span>
                    </div>
                </div>
                <div class="text-block">Неизменный принцип работы нашей клиники эстетической медицины:
                    <div class="inner-wrapper">
                        <div class="inner-block"><img src="{% static 'img/exclMark.png' %}" alt="Illustration"> <span>соблюдение баланса между рациональной стоимостью и качеством</span>
                        </div>
                        <div class="inner-block"><img src="{% static 'img/greenThing2.png' %}" alt="Illustration">
                            <span>процедуры проводятся во врачебных кабинетах</span>
                        </div>
                    </div>
                </div>
                <div class="text-block">Отличные результаты достигаются благодаря нашим специалистам <span
                        class="colored-span">высокой квалификации</span>
                    <div class="inner-block"><span style="padding: 0">Каждый день мы делаем наших пациентов красивее, моложе и счастливее. Мы гордимся этим, а пациенты по достоинству оценивают нашу ориентированность на качественный результат</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="slider-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 headerCol">
                <span class="header">Beauty Gene</span> <span>Я хочу...</span>
            </div>
        </div>
        <div class="row sliderDiv">
            {% for service_detail in service_detail_list %}
            <div class="single-piece">
                <a href="{{service_detail.get_absolute_url}}">
                    <img src="{{service_detail.short_img.url}}" alt="Skin">
                </a>
                <span>{{service_detail.name}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="prices-section" id="price_form">
    <div class="firstPic">
        <div class="secondPic">
            <div class="thirdPic">
                <div class="container">
                    <div class="row">
                        <div class="col-12 headers-wrapper" style="position: relative; top: -190px;">
                            <span class="section-subHeader">Наши цены </span>
                            <span class="section-header">Прайс-лист</span>
                        </div>
                        <div class="col-12 section-wrapper">
                            <div class="another-wrapper">
                                <div class="price-row">
                                    {% for item in price_list_obj %}
                                    <div class="price-wrapper">
                                        <div class="text-wrapper">
                                            <p class="colored-span">{{item.name_cat}}</p>
                                            <p>{{item.description}}</p>
                                        </div>
                                        <span class="price-block-blue">{{item.price}} р.</span>
                                    </div>
                                    <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 input-headers"><span>ЦЕНЫ НА ПРИЁМ ВРАЧА-ДЕРМАТОЛОГА, КОСМЕТОЛОГА, ЭНДОКРИНОЛОГА, ТРИХОЛОГА</span>
                <span>Индивидуально расскажем</span> <span>про каждую услугу</span></div>
            <div class="col-12 inputs-wrapper">
                <form method="post" action="">
                        <div class="row">
                            {% csrf_token %}
                            <div class="col-lg-4">{{ form_price.name }}</div>
                            <div class="col-lg-4">{{ form_price.phone }}</div>
                            <div class="col-lg-4">{{ form_price.email }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <button class="cta-button" type="submit" value="Submit" name="price_form">Записаться</button>
                            </div>
                            <div class="col-lg-4"></div>
                        </div>
                </form>
                <p>Я соглашаюсь на обработку персональных данных и с <a href="" style="color: #4f9c50;">политикой
                    конфиденциальности</a></p></div>
        </div>
    </div>
</div>

<div class="promo-section">
    <div class="container">
        <div class="row">
            <div class="col-12 headers-wrapper">
                <span class="section-subHeader">Наши акции </span>
                <span class="section-header">Выгодно</span>
            </div>
            <div class="col-12 promo-slider">
                {% for promo in promo_list %}
                <div class="inner-wrapper">
                    <div class="text-wrapper">
                        <div>Акция</div>
                        <div class="inner-text-wrapper">
                            <span class="first-span">Скидка <span
                                    class="colored-span">{{promo.preview_discount}}%</span> на процедуры</span>
                            <span class="second-span">{{promo.preview_discount_obj}}</span>
                        </div>
                    </div>
                    <a href="{{promo.get_absolute_url}}">
                        <button class="cta-button">Подробнее об акции</button>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 headers-wrapper"><span class="section-subHeader">На приеме у специалиста </span><span
                class="section-header">шаг за шагом</span></div>
    </div>
</div>

<div class="appointment-section">
    <div class="container">
        <div class="row">
            <div class="col-12 steps-slider">
                <div class="inner-wrapper">
                    <div class="content-block"><h2>Шаг 1</h2><span>Консультация специалиста</span>
                        <p>Вы хотите стройное тело, блестящие глаза, девичью шею, молодое лицо, ухоженные руки, массаж
                            или навсегда избавиться от нежелательных волос на теле? Доступные цены на все услуги клиники
                            для каждого. Представленные в клинике обурудование аппаратной косметологии и препараты
                            инъекционной косметологии позволяют использовать технологии.</p>
                        <button class="custom-outline">Перейти к шагу 2 ></button>
                    </div>
                </div>
                <div class="inner-wrapper">
                    <div class="content-block"><h2>Шаг 1</h2><span>Консультация специалиста</span>
                        <p>Вы хотите стройное тело, блестящие глаза, девичью шею, молодое лицо, ухоженные руки, массаж
                            или навсегда избавиться от нежелательных волос на теле? Доступные цены на все услуги клиники
                            для каждого. Представленные в клинике обурудование аппаратной косметологии и препараты
                            инъекционной косметологии позволяют использовать технологии.</p>
                        <button class="custom-outline">Перейти к шагу 2 ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="media-section">
    <div class="container">
        <div class="row">
            <div class="col-12 headers-wrapper"><span class="section-subHeader">Следите за нами в соцсетях </span><span
                    class="section-header">мы онлайн</span></div>
            <div class="col-12">
                <div class="media-wrapper">
                    {% for insta in insta_media %}
                    <div class="col-lg-3">
                        <a href="{{insta.permalink}}" target="_blank">
                            <img src="{{ insta.media_url}}" alt="Media">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12">
                <a href="https://www.instagram.com/beautygene.clinic/">
                    <button class="cta-button"><img src="{% static 'img/svg-insta.png' %}" alt="Instagram icon">&nbsp;
                        Подписаться на нас в
                        Instagram
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="stuff-section">
    <div class="container">
        <div class="row">
            <div class="col-12 headers-wrapper">
                <span class="section-subHeader">Наши специалисты </span>
                <span class="section-header">команда</span></div>
            <div class="col-12 stuff-slider">
                {% for stuff in staff_list %}
                <div class="single-employee">
                    <div class="inner-wrapper">
                        <a href="{{stuff.get_absolute_url}}">
                            <img src="{{stuff.photo_index_slider.url}}" alt="Employee">
                        </a>
                        <div class="text-wrapper">
                            <h5>{{stuff.full_name}}</h5>
                            <span>{{stuff.state}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="qa-section">
    <div class="container">
        <div class="row">
            <div class="col-12 headers-wrapper"><span class="section-subHeader">Ответы на вопросы </span><span
                    class="section-header">отвечаем</span></div>
            <div class="col-12 accordions-wrapper">
                <div id="accordion">
                    {% for qa in qas %}
                    <div class="card">
                        <div class="card-header" id="heading{{qa.id}}">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{qa.id}}"
                                        aria-expanded="true" aria-controls="collapse{{qa.id}}">
                                    <span class="colored-span">{{qa.num}}</span>{{qa.question}}<i class="fa fa-plus"></i>
                                </button>
                            </h5>
                        </div>
                        <div id="collapse{{qa.id}}" class="collapse show" aria-labelledby="heading{{qa.id}}" data-parent="#accordion">
                            <div class="card-body">
                                {{qa.answer}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}