{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="prices-page">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0">
                        <li class="breadcrumb-item">
                            <a href="/">Главная</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">ПРАЙС-ЛИСТ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="prices-page__content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 headers-wrapper">
                    <span class="section-subHeader">Наши цены </span><span class="section-header">Прайс-лист</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 content-wrapper">
                    <div class="inner-wrapper">
                        <h3>Лазерная эпиляция</h3>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Лазерная эпиляция лица</p>
                            </div>
                            <span class="price-block-blue">от 9 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Лазерная эпиляция тела</p>
                            </div>
                            <span class="price-block-green">от 11 000 р.</span>
                        </div>
                        <hr>
                    </div>
                    <div class="inner-wrapper">
                        <h3>Инъекции и пилинги</h3>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Ботокс</p>
                            </div>
                            <span class="price-block-blue">от 7 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Контурная пластика</p>
                            </div>
                            <span class="price-block-green">от 6 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">PRP терапия</p>
                            </div>
                            <span class="price-block-blue">от 9 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Биоревитализация</p>
                            </div>
                            <span class="price-block-green">от 8 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Липолитики</p>
                            </div>
                            <span class="price-block-blue">от 12 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Profhilo</p>
                            </div>
                            <span class="price-block-green">от 9 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Мезотерапия</p>
                            </div>
                            <span class="price-block-blue">от 7 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Пилинги</p>
                            </div>
                            <span class="price-block-green">от 5 000 р.</span>
                        </div>
                        <hr>
                    </div>
                    <div class="inner-wrapper">
                        <h3>Лазерная косметология</h3>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Лазерная шлифовка</p>
                            </div>
                            <span class="price-block-blue">от 8 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Удаление новообразований</p>
                            </div>
                            <span class="price-block-green">от 7 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Удаление шрамов и растяжек</p>
                            </div>
                            <span class="price-block-green">от 9 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Лазерное интимное омоложение</p>
                            </div>
                            <span class="price-block-green">от 10 000 р.</span>
                        </div>
                        <hr>
                    </div>
                    <div class="inner-wrapper">
                        <h3>Уход за лицом</h3>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Микротоковый лифтинг лица</p>
                            </div>
                            <span class="price-block-blue">от 8 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Аппаратный Anti-aging уход</p>
                            </div>
                            <span class="price-block-green">от 7 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Аппаратный уход для восстановления кожи</p>
                            </div>
                            <span class="price-block-green">от 9 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Anti-aging и восстанавливающие процедуры</p>
                            </div>
                            <span class="price-block-green">от 9 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Чистка лица</p>
                            </div>
                            <span class="price-block-green">от 11 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Гидродермабразия (Hydrafacial)</p>
                            </div>
                            <span class="price-block-green">от 9 000 р.</span>
                        </div>
                        <hr>
                    </div>
                    <div class="inner-wrapper">
                        <h3>Трихология</h3>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">PRP терапия</p>
                            </div>
                            <span class="price-block-blue">от 8 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Мезотерапия</p>
                            </div>
                            <span class="price-block-green">от 7 000 р.</span>
                        </div>
                        <hr>
                    </div>
                    <div class="inner-wrapper">
                        <h3>Массаж</h3>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Классический</p>
                            </div>
                            <span class="price-block-blue">от 6 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Спортивный</p>
                            </div>
                            <span class="price-block-green">от 5 000 р.</span>
                        </div>
                        <hr>
                        <div class="price-wrapper">
                            <div class="text-wrapper">
                                <p class="colored-span">Восстанавливающий/расслабляющий</p>
                            </div>
                            <span class="price-block-green">от 7 000 р.</span>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="callback-section" id="price_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 input-headers">
                    <span>ЦЕНЫ НА ПРИЁМ ВРАЧА-ДЕРМАТОЛОГА, КОСМЕТОЛОГА, ЭНДОКРИНОЛОГА, ТРИХОЛОГА</span>
                    <span>Индивидуально расскажем</span> <span>про каждую услугу</span>
                </div>
                <div class="col-lg-12 inputs-wrapper">
                    <form method="post" action="" style="justify-content: center;">
                        {% csrf_token %}
                        {{ form_price.name }}
                        {{ form_price.phone }}
                        {{ form_price.email }}

                        <button class="cta-button" type="submit" value="Submit" name="price_form">Записаться</button>

                    </form>
                    <p style="width: 31%; margin: 0 auto">Я соглашаюсь на обработку персональных данных и с <a href=""
                                                                                                               style="color: #4f9c50;">политикой
                        конфиденциальности</a></p></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}