{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="promo-page">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Акции</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="promo-page__promos-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 headers-wrapper">
                    <span class="section-subHeader">Наши акции </span><span class="section-header">выгодно</span>
                </div>
            </div>
            <div class="row promo__wrapper">
                {% for promo in promo_list %}
                <div class="col-lg-4">
                    <div class="single-promo__wrapper">
                        <div class="single-promo__header {% cycle 'promo1' 'promo2' 'promo3'%}" style="background-image: url('{{ promo.preview_img.url }}')">
                        <div class="text-wrapper">
                            <div class="{% cycle '' '' 'green-promo' %}">Акция</div>
                            <span class="first-span">Скидка <span
                                    class="{% cycle 'colored-span' 'colored-span' 'green-colored-span'%}">{{ promo.preview_discount }}%</span> на процедуры</span>
                            <span class="second-span">{{ promo.preview_discount_obj }}</span>
                        </div>
                    </div>
                    <div class="single-promo__content">
                        <span class="promo__date">{{ promo.date }}</span>
                        <h5>{{ promo.preview_title }}</h5>
                        <p>{{ promo.preview_description}}..</p>
                        <span><a href="{{ promo.get_absolute_url }}">Подробнее</a></span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="callback-section" id="price_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 input-headers">
                <span>ЦЕНЫ НА ПРИЁМ ВРАЧА-ДЕРМАТОЛОГА, КОСМЕТОЛОГА, ЭНДОКРИНОЛОГА, ТРИХОЛОГА</span>
                <span>Индивидуально расскажем</span>
                <span>про каждую услугу</span>
            </div>
            <div class="col-lg-12 inputs-wrapper">
                <form method="post" action="">
                        <div class="row">
                            {% csrf_token %}
                            <div class="col-lg-4">{{ form_price.name }}</div>
                            <div class="col-lg-4">{{ form_price.phone }}</div>
                            <div class="col-lg-4">{{ form_price.email }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <button class="cta-button" type="submit" value="Submit" name="price_form">Записаться</button>
                            </div>
                            <div class="col-lg-4"></div>
                        </div>
                </form>
                <p>Я соглашаюсь на обработку персональных данных и с <a href="" style="color: #4f9c50;">политикой
                    конфиденциальности</a></p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}