{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="qa-page">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Вопросы</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="qa-page__content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 headers-wrapper"><span class="section-subHeader">Ответы на вопросы </span><span
                        class="section-header">отвечаем</span></div>
            </div>
            <div class="row">
                <div class="col-12 accordions-wrapper">
                    <div id="accordion">
                        {% for qa in qas %}
                        <div class="card">
                            <div class="card-header" id="heading{{qa.id}}">
                                <h5 class="mb-0" data-after="\002B">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{qa.id}}"
                                            aria-expanded="true" aria-controls="collapse{{qa.id}}">
                                        <span class="colored-span">{{qa.num}}</span>
                                        {{qa.question}} <i class="fa fa-plus"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse{{qa.id}}" class="collapse" aria-labelledby="heading{{qa.id}}"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    {{qa.answer}}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="callback-section" id="price_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 input-headers">
                    <span>ЦЕНЫ НА ПРИЁМ ВРАЧА-ДЕРМАТОЛОГА, КОСМЕТОЛОГА, ЭНДОКРИНОЛОГА, ТРИХОЛОГА</span>
                    <span>Индивидуально расскажем</span>
                    <span>про каждую услугу</span>
                </div>
                <div class="col-lg-12 inputs-wrapper">
                <form method="post" action="">
                        <div class="row">
                            {% csrf_token %}
                            <div class="col-lg-4">{{ form_price.name }}</div>
                            <div class="col-lg-4">{{ form_price.phone }}</div>
                            <div class="col-lg-4">{{ form_price.email }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <button class="cta-button" type="submit" value="Submit" name="price_form">Записаться</button>
                            </div>
                            <div class="col-lg-4"></div>
                        </div>
                </form>
                    <p>Я соглашаюсь на обработку персональных данных и с <a href="" style="color: #4f9c50;">политикой
                        конфиденциальности</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}