{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="team-page">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Услуги</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="team-page__workers-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 headers-wrapper"><span class="section-subHeader">Наши специалисты </span><span
                        class="section-header">команда</span></div>
            </div>
            <div class="row team__wrapper">
                <div class="col-lg-4">
                    <div class="single-worker__wrapper"><img src="{% static 'img/team/photo1.png' %}" alt="Avatar">
                        <div class="single-worker__header"><h5>Лапатина Наталья Геннадьевна</h5>
                            <p><span>Стаж работы:</span> <span style="font-weight: 300">10 лет</span></p>
                            <p>Врач-косметолог, к.м.н.</p></div>
                        <div class="single-worker__content">
                            <button class="cta-button">Записаться</button>
                            <button class="custom-outline">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-worker__wrapper"><img src="{% static 'img/team/photo2.png' %}" alt="Avatar">
                        <div class="single-worker__header"><h5>Привалова Елена Борисовна</h5>
                            <p><span>Стаж работы:</span> <span style="font-weight: 300">11 лет</span></p>
                            <p>Врач-косметолог</p></div>
                        <div class="single-worker__content">
                            <button class="cta-button">Записаться</button>
                            <button class="custom-outline">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-worker__wrapper"><img src="{% static 'img/team/photo3.png' %}" alt="Avatar">
                        <div class="single-worker__header"><h5>Филатова Светлана Сергеевна</h5>
                            <p><span>Стаж работы:</span> <span style="font-weight: 300">8 лет</span></p>
                            <p>Врач-косметолог, физиотерапевт</p></div>
                        <div class="single-worker__content">
                            <button class="cta-button">Записаться</button>
                            <button class="custom-outline">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-worker__wrapper"><img src="{% static 'img/team/photo4.png' %}" alt="Avatar">
                        <div class="single-worker__header"><h5>Лапатина Наталья Геннадьевна</h5>
                            <p><span>Стаж работы:</span> <span style="font-weight: 300">10 лет</span></p>
                            <p>Врач-косметолог, к.м.н.</p></div>
                        <div class="single-worker__content">
                            <button class="cta-button">Записаться</button>
                            <button class="custom-outline">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-worker__wrapper"><img src="{% static 'img/team/photo5.png' %}" alt="Avatar">
                        <div class="single-worker__header"><h5>Лапатина Наталья Геннадьевна</h5>
                            <p><span>Стаж работы:</span> <span style="font-weight: 300">10 лет</span></p>
                            <p>Врач-косметолог, к.м.н.</p></div>
                        <div class="single-worker__content">
                            <button class="cta-button">Записаться</button>
                            <button class="custom-outline">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-worker__wrapper"><img src="{% static 'img/team/photo6.png' %}" alt="Avatar">
                        <div class="single-worker__header"><h5>Лапатина Наталья Геннадьевна</h5>
                            <p><span>Стаж работы:</span> <span style="font-weight: 300">10 лет</span></p>
                            <p>Врач-косметолог, к.м.н.</p></div>
                        <div class="single-worker__content">
                            <button class="cta-button">Записаться</button>
                            <button class="custom-outline">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-worker__wrapper"><img src="{% static 'img/team/photo1.png' %}" alt="Avatar">
                        <div class="single-worker__header"><h5>Лапатина Наталья Геннадьевна</h5>
                            <p><span>Стаж работы:</span> <span style="font-weight: 300">10 лет</span></p>
                            <p>Врач-косметолог, к.м.н.</p></div>
                        <div class="single-worker__content">
                            <button class="cta-button">Записаться</button>
                            <button class="custom-outline">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-worker__wrapper"><img src="{% static 'img/team/photo2.png' %}" alt="Avatar">
                        <div class="single-worker__header"><h5>Лапатина Наталья Геннадьевна</h5>
                            <p><span>Стаж работы:</span> <span style="font-weight: 300">10 лет</span></p>
                            <p>Врач-косметолог, к.м.н.</p></div>
                        <div class="single-worker__content">
                            <button class="cta-button">Записаться</button>
                            <button class="custom-outline">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-worker__wrapper"><img src="{% static 'img/team/photo3.png' %}" alt="Avatar">
                        <div class="single-worker__header"><h5>Лапатина Наталья Геннадьевна</h5>
                            <p><span>Стаж работы:</span> <span style="font-weight: 300">10 лет</span></p>
                            <p>Врач-косметолог, к.м.н.</p></div>
                        <div class="single-worker__content">
                            <button class="cta-button">Записаться</button>
                            <button class="custom-outline">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="callback-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 input-headers"><span>ЦЕНЫ НА ПРИЁМ ВРАЧА-ДЕРМАТОЛОГА, КОСМЕТОЛОГА, ЭНДОКРИНОЛОГА, ТРИХОЛОГА</span>
                    <span>Индивидуально расскажем</span> <span>про каждую услугу</span></div>
                <div class="col-lg-12 inputs-wrapper">
                    <form action=""><input type="text" placeholder="ФИО*"> <input type="text" placeholder="Телефон*">
                        <input type="text" placeholder="Почта">
                        <button class="cta-button">Записаться</button>
                    </form>
                    <p>Я соглашаюсь на обработку персональных данных и с <a href="" style="color: #4f9c50;">политикой
                        конфиденциальности</a></p></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}